#### pandas is a software library written for the Python programming language for data manipulation and analysis.
#### In particular, it offers data structures and operations for manipulating numerical tables and time series. 
#### It is free software released under the three-clause BSD license.

In [1]:
!pip install pandas
!pip install matplotlib
!pip install panel
!pip install bokeh
!pip install scikit-learn
!pip install streamlit
!pip install plotly
!pip install dash
!pip install dash-renderer
!pip install dash_html_components
!pip install dash_core_components

Collecting pandas
  Downloading pandas-2.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 23.8 MB/s eta 0:00:0000:0100:01
Collecting numpy>=1.22.4 (from pandas)
  Downloading numpy-1.25.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.2/18.2 MB 28.8 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2023.3)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 31.8 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.25.2 pandas-2.1.0 tzdata-2023.3
Collecting matplotlib
  Downloading matplotlib-3.7.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 32.9 MB/s eta 0:00:0000:0100:01
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.7/300.7 kB 25.6 MB/s eta 0:00:00
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.42.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 35.8 MB/s eta 0:00:0000:0100:01
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Downloading kiwisolver-1.4.5-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 26.3 MB/s eta 0:00:0000:01
Requirement already satisfied: numpy<2,>=1.20 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from matplotlib) (1.25.2)
Requirement already satisfied: packaging>=20.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from matplotlib) (23.1)
Collecting pillow>=6.2.0 (from matplotlib)
  Downloading Pillow-10.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 39.7 MB/s eta 0:00:0000:0100:01
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.1-py3-none-any.whl (103 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.1/103.1 kB 20.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.1.0 cycler-0.11.0 fonttools-4.42.1 kiwisolver-1.4.5 matplotlib-3.7.3 pillow-10.0.0 pyparsing-3.1.1
Collecting panel
  Downloading panel-1.2.2-py2.py3-none-any.whl (20.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.0/20.0 MB 21.6 MB/s eta 0:00:0000:0100:01
Collecting bokeh<3.3.0,>=3.1.1 (from panel)
  Downloading bokeh-3.2.2-py3-none-any.whl (7.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 21.0 MB/s eta 0:00:0000:0100:01
Collecting param>=1.12.0 (from panel)
  Downloading param-1.13.0-py2.py3-none-any.whl (87 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 87.3/87.3 kB 8.1 MB/s eta 0:00:00
Collecting pyviz-comms>=0.7.4 (from panel)
  Downloading pyviz_comms-3.0.0-py3-none-any.whl (82 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.2/82.2 kB 9.4 MB/s eta 0:00:00
Collecting xyzservices>=2021.09.1 (from panel)
  Downloading xyzservices-2023.7.0-py3-none-any.whl (56 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 56.7/56.7 kB 8.1 MB/s eta 0:00:00
Collecting markdown (from panel)
  Downloading Markdown-3.4.4-py3-none-any.whl (94 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 94.2/94.2 kB 15.8 MB/s eta 0:00:00
Collecting markdown-it-py (from panel)
  Downloading markdown_it_py-3.0.0-py3-none-any.whl (87 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 87.5/87.5 kB 9.4 MB/s eta 0:00:00
Collecting linkify-it-py (from panel)
  Downloading linkify_it_py-2.0.2-py3-none-any.whl (19 kB)
Collecting mdit-py-plugins (from panel)
  Downloading mdit_py_plugins-0.4.0-py3-none-any.whl (54 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.1/54.1 kB 7.0 MB/s eta 0:00:00
Requirement already satisfied: requests in /srv/conda/envs/notebook/lib/python3.10/site-packages (from panel) (2.31.0)
Collecting tqdm>=4.48.0 (from panel)
  Downloading tqdm-4.66.1-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.3/78.3 kB 7.9 MB/s eta 0:00:00
Requirement already satisfied: bleach in /srv/conda/envs/notebook/lib/python3.10/site-packages (from panel) (6.0.0)
Requirement already satisfied: typing-extensions in /srv/conda/envs/notebook/lib/python3.10/site-packages (from panel) (4.6.3)
Requirement already satisfied: pandas>=1.2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from panel) (2.1.0)
Requirement already satisfied: Jinja2>=2.9 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bokeh<3.3.0,>=3.1.1->panel) (3.1.2)
Requirement already satisfied: contourpy>=1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bokeh<3.3.0,>=3.1.1->panel) (1.1.0)
Requirement already satisfied: numpy>=1.16 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bokeh<3.3.0,>=3.1.1->panel) (1.25.2)
Requirement already satisfied: packaging>=16.8 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bokeh<3.3.0,>=3.1.1->panel) (23.1)
Requirement already satisfied: pillow>=7.1.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bokeh<3.3.0,>=3.1.1->panel) (10.0.0)
Requirement already satisfied: PyYAML>=3.10 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bokeh<3.3.0,>=3.1.1->panel) (6.0)
Requirement already satisfied: tornado>=5.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bokeh<3.3.0,>=3.1.1->panel) (6.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas>=1.2->panel) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas>=1.2->panel) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas>=1.2->panel) (2023.3)
Requirement already satisfied: six>=1.9.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bleach->panel) (1.16.0)
Requirement already satisfied: webencodings in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bleach->panel) (0.5.1)
Collecting uc-micro-py (from linkify-it-py->panel)
  Downloading uc_micro_py-1.0.2-py3-none-any.whl (6.2 kB)
Collecting mdurl~=0.1 (from markdown-it-py->panel)
  Downloading mdurl-0.1.2-py3-none-any.whl (10.0 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from requests->panel) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from requests->panel) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from requests->panel) (2.0.3)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from requests->panel) (2023.5.7)
Requirement already satisfied: MarkupSafe>=2.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from Jinja2>=2.9->bokeh<3.3.0,>=3.1.1->panel) (2.1.3)
Installing collected packages: xyzservices, uc-micro-py, tqdm, param, mdurl, markdown, pyviz-comms, markdown-it-py, linkify-it-py, mdit-py-plugins, bokeh, panel
Successfully installed bokeh-3.2.2 linkify-it-py-2.0.2 markdown-3.4.4 markdown-it-py-3.0.0 mdit-py-plugins-0.4.0 mdurl-0.1.2 panel-1.2.2 param-1.13.0 pyviz-comms-3.0.0 tqdm-4.66.1 uc-micro-py-1.0.2 xyzservices-2023.7.0
Requirement already satisfied: bokeh in /srv/conda/envs/notebook/lib/python3.10/site-packages (3.2.2)
Requirement already satisfied: Jinja2>=2.9 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bokeh) (3.1.2)
Requirement already satisfied: contourpy>=1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bokeh) (1.1.0)
Requirement already satisfied: numpy>=1.16 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bokeh) (1.25.2)
Requirement already satisfied: packaging>=16.8 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bokeh) (23.1)
Requirement already satisfied: pandas>=1.2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bokeh) (2.1.0)
Requirement already satisfied: pillow>=7.1.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bokeh) (10.0.0)
Requirement already satisfied: PyYAML>=3.10 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bokeh) (6.0)
Requirement already satisfied: tornado>=5.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bokeh) (6.3.2)
Requirement already satisfied: xyzservices>=2021.09.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from bokeh) (2023.7.0)
Requirement already satisfied: MarkupSafe>=2.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from Jinja2>=2.9->bokeh) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas>=1.2->bokeh) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas>=1.2->bokeh) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas>=1.2->bokeh) (2023.3)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=1.2->bokeh) (1.16.0)
Collecting scikit-learn
  Downloading scikit_learn-1.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 31.2 MB/s eta 0:00:0000:010:01
Requirement already satisfied: numpy>=1.17.3 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from scikit-learn) (1.25.2)
Collecting scipy>=1.5.0 (from scikit-learn)
  Downloading scipy-1.11.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (36.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 36.3/36.3 MB 20.8 MB/s eta 0:00:0000:0100:01
Collecting joblib>=1.1.1 (from scikit-learn)
  Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.2/302.2 kB 30.1 MB/s eta 0:00:00
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.3.0 scipy-1.11.2 threadpoolctl-3.2.0
Collecting streamlit
  Downloading streamlit-1.26.0-py2.py3-none-any.whl (8.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.1/8.1 MB 31.4 MB/s eta 0:00:0000:0100:01
Collecting altair<6,>=4.0 (from streamlit)
  Downloading altair-5.1.1-py3-none-any.whl (520 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 520.6/520.6 kB 32.7 MB/s eta 0:00:00
Requirement already satisfied: blinker<2,>=1.0.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from streamlit) (1.6.2)
Collecting cachetools<6,>=4.0 (from streamlit)
  Downloading cachetools-5.3.1-py3-none-any.whl (9.3 kB)
Collecting click<9,>=7.0 (from streamlit)
  Downloading click-8.1.7-py3-none-any.whl (97 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 97.9/97.9 kB 13.0 MB/s eta 0:00:00
Requirement already satisfied: importlib-metadata<7,>=1.4 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from streamlit) (6.6.0)
Requirement already satisfied: numpy<2,>=1.19.3 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from streamlit) (1.25.2)
Requirement already satisfied: packaging<24,>=16.8 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from streamlit) (23.1)
Requirement already satisfied: pandas<3,>=1.3.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from streamlit) (2.1.0)
Collecting pillow<10,>=7.1.0 (from streamlit)
  Downloading Pillow-9.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 30.9 MB/s eta 0:00:0000:0100:01
Collecting protobuf<5,>=3.20 (from streamlit)
  Downloading protobuf-4.24.3-cp37-abi3-manylinux2014_x86_64.whl (311 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 311.6/311.6 kB 35.1 MB/s eta 0:00:00
Collecting pyarrow>=6.0 (from streamlit)
  Downloading pyarrow-13.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (40.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.0/40.0 MB 14.6 MB/s eta 0:00:0000:0100:01
Collecting pympler<2,>=0.9 (from streamlit)
  Downloading Pympler-1.0.1-py3-none-any.whl (164 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 164.8/164.8 kB 17.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil<3,>=2.7.3 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from streamlit) (2.8.2)
Requirement already satisfied: requests<3,>=2.18 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from streamlit) (2.31.0)
Collecting rich<14,>=10.14.0 (from streamlit)
  Downloading rich-13.5.2-py3-none-any.whl (239 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 239.7/239.7 kB 22.3 MB/s eta 0:00:00
Collecting tenacity<9,>=8.1.0 (from streamlit)
  Downloading tenacity-8.2.3-py3-none-any.whl (24 kB)
Collecting toml<2,>=0.10.1 (from streamlit)
  Downloading toml-0.10.2-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: typing-extensions<5,>=4.1.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from streamlit) (4.6.3)
Collecting tzlocal<5,>=1.1 (from streamlit)
  Downloading tzlocal-4.3.1-py3-none-any.whl (20 kB)
Collecting validators<1,>=0.2 (from streamlit)
  Downloading validators-0.22.0-py3-none-any.whl (26 kB)
Collecting gitpython!=3.1.19,<4,>=3.0.7 (from streamlit)
  Downloading GitPython-3.1.36-py3-none-any.whl (189 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 189.5/189.5 kB 20.1 MB/s eta 0:00:00
Collecting pydeck<1,>=0.8 (from streamlit)
  Downloading pydeck-0.8.0-py2.py3-none-any.whl (4.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 19.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: tornado<7,>=6.0.3 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from streamlit) (6.3.2)
Collecting watchdog>=2.1.5 (from streamlit)
  Downloading watchdog-3.0.0-py3-none-manylinux2014_x86_64.whl (82 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.1/82.1 kB 8.2 MB/s eta 0:00:00
Requirement already satisfied: jinja2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from altair<6,>=4.0->streamlit) (4.17.3)
Collecting toolz (from altair<6,>=4.0->streamlit)
  Downloading toolz-0.12.0-py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.8/55.8 kB 7.0 MB/s eta 0:00:00
Collecting gitdb<5,>=4.0.1 (from gitpython!=3.1.19,<4,>=3.0.7->streamlit)
  Downloading gitdb-4.0.10-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.7/62.7 kB 8.7 MB/s eta 0:00:00
Requirement already satisfied: zipp>=0.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from importlib-metadata<7,>=1.4->streamlit) (3.15.0)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from requests<3,>=2.18->streamlit) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from requests<3,>=2.18->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from requests<3,>=2.18->streamlit) (2.0.3)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from requests<3,>=2.18->streamlit) (2023.5.7)
Requirement already satisfied: markdown-it-py>=2.2.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Collecting pytz-deprecation-shim (from tzlocal<5,>=1.1->streamlit)
  Downloading pytz_deprecation_shim-0.1.0.post0-py2.py3-none-any.whl (15 kB)
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit)
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.3)
Requirement already satisfied: attrs>=17.4.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.19.3)
Requirement already satisfied: mdurl~=0.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Installing collected packages: watchdog, validators, toolz, toml, tenacity, smmap, pytz-deprecation-shim, pympler, pyarrow, protobuf, pillow, click, cachetools, tzlocal, rich, pydeck, gitdb, gitpython, altair, streamlit
  Attempting uninstall: pillow
    Found existing installation: Pillow 10.0.0
    Uninstalling Pillow-10.0.0:
      Successfully uninstalled Pillow-10.0.0
Successfully installed altair-5.1.1 cachetools-5.3.1 click-8.1.7 gitdb-4.0.10 gitpython-3.1.36 pillow-9.5.0 protobuf-4.24.3 pyarrow-13.0.0 pydeck-0.8.0 pympler-1.0.1 pytz-deprecation-shim-0.1.0.post0 rich-13.5.2 smmap-5.0.0 streamlit-1.26.0 tenacity-8.2.3 toml-0.10.2 toolz-0.12.0 tzlocal-4.3.1 validators-0.22.0 watchdog-3.0.0
Collecting plotly
  Downloading plotly-5.16.1-py2.py3-none-any.whl (15.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.6/15.6 MB 22.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: tenacity>=6.2.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in /srv/conda/envs/notebook/lib/python3.10/site-packages (from plotly) (23.1)
Installing collected packages: plotly
Successfully installed plotly-5.16.1
Collecting dash
  Downloading dash-2.13.0-py3-none-any.whl (10.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.4/10.4 MB 33.1 MB/s eta 0:00:0000:010:01
Collecting Flask<2.3.0,>=1.0.4 (from dash)
  Downloading Flask-2.2.5-py3-none-any.whl (101 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.8/101.8 kB 11.5 MB/s eta 0:00:00
Collecting Werkzeug<2.3.0 (from dash)

In [87]:
## Import necessary libraries and setup the working directory
import pandas as pd
import os

In [88]:
os.getcwd()

'/home/jovyan'

In [89]:
os.listdir()

['.bashrc',
 '.bash_logout',
 '.profile',
 '.local',
 'CSC_LOGO_NEW.PNG',
 '.jupyter',
 'CSC_LOGO.jpg',
 '.jupyter-server-log.txt',
 'Python Sep 11.ipynb',
 '.cache',
 '.ipynb_checkpoints',
 '.ipython',
 'DashBoard.jpg',
 'SuperStore.txt',
 'SuperstoreNew.csv',
 'README.md',
 'Superstore1.csv',
 'Matplot lib  (1).ipynb',
 'Superstore.csv',
 'requirements.txt.txt',
 '.git',
 'Python Sep 1.ipynb',
 'Untitled (1).ipynb',
 'Sample.xls']

In [90]:
Data= pd.read_csv('SuperstoreNew.csv',encoding='unicode_escape')

In [91]:
### First top 5 rows

Data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

##### Chapter :------------->2 Haow to select the series from the pandas dataframe

In [92]:
Data.dtypes

### Pandas create every series of the data frame into atttribute and it is very handy to use
### if you name the column which conflict with build in funtion and attibutes of the dataframe, it will not work........

### Two ways to select the series from the dataframe 1. Dot notation and 2. bracket notation [], this is always work......

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [93]:
#### How to create new series from the existing series of the dataframe

Data['Location']= Data.City+', '+ Data.State

In [94]:
Data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Location
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,"Henderson, Kentucky"
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,"Henderson, Kentucky"
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,"Los Angeles, California"
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,"Fort Lauderdale, Florida"
4,5,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,"Fort Lauderdale, Florida"

##### <h3><u><font color='blue'><b>Chapter:------------> 3   WHy do some pandas  commands end with patnetheses and other commands don't </b></font></h3></u>

Data.describe(include=['int','float']) ### Some of the method required optional argument like describe 



### Methods are action oriented,e.g talk,eat and attributes, e.g like height,eye_color are without parenthesis

##### <h3><u><font color='green'><b>Chapter:---------->4 How do i change the columns name of the pandas dataframe</b></font></h3></u>

In [95]:
Data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'Location'],
      dtype='object')

In [96]:
Data.rename(columns={'Customer ID':'Customer_ID','Row ID':'Row_ID'},inplace=True)


### Rename method can be used to rename the columns name 
### inplace argument are used to tell to make the action to take place , i want to effect underline dataset

In [97]:
### Simplier way to change the columns names of the dataframe
### Create regulat python list.

### New_Col_Name=['','','','']
#### Data.columns=New_Col_Name

In [98]:
## While reading the file , we can change the columns name

### pd.read_csv(,names=New_Col_Name.header=0)

### Read the documentation for futher details

## Bonus tip,suppose you have 100 columns and you want to replace the space between the columns name usind 
#### "rename methods"

In [99]:
Data.columns=Data.columns.str.replace(' ', '_')

In [100]:
Data.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub-Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'Location'],
      dtype='object')

##### <h3><u><font color='red'><b>Chapter:---------> 5 How to remove columns from a pandas DataFrame</b></font></h3></u>

In [101]:
## In order to drop a column from the dataframe,, use drop() method.

Data.shape

(9994, 22)

In [102]:
### Axis 0=row ,,Axis 1= columns

In [103]:
Data.drop('Sales',axis=1,inplace=True)

In [104]:
Data.shape

(9994, 21)

In [105]:
#### to delete multiple column we can pass a list of columns 

Data.drop(['Discount','Quantity'],axis=1,inplace=True)

In [106]:
Data.shape

(9994, 19)

In [107]:
### what if we need to drop a row rather than a column 

Data.drop(index=[0,1],axis=0,inplace=True)

In [108]:
Data.head()

### to check the row are drop

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub-Category,Product_Name,Profit,Location
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,6.8714,"Los Angeles, California"
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,-383.0310,"Fort Lauderdale, Florida"
4,5,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,2.5164,"Fort Lauderdale, Florida"
5,6,CA-2014-115812,09-06-2014,14-06-2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,14.1694,"Los Angeles, California"
6,7,CA-2014-115812,09-06-2014,14-06-2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,1.9656,"Los Angeles, California"

##### <h3><u><font color='orange'><b>Chapter:---------> 6 How do i sort pandas Dataframe or series</b></font></h3></u>

<img src="CSC_LOGO.jpg" width="200" height="50">
<img src="DashBoard.jpg" width="500" height="200">

In [109]:
Data.dtypes

Row_ID             int64
Order_ID          object
Order_Date        object
Ship_Date         object
Ship_Mode         object
Customer_ID       object
Customer_Name     object
Segment           object
Country           object
City              object
State             object
Postal_Code        int64
Region            object
Product_ID        object
Category          object
Sub-Category      object
Product_Name      object
Profit           float64
Location          object
dtype: object

In [110]:
Data.head(2)

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub-Category,Product_Name,Profit,Location
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,6.8714,"Los Angeles, California"
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,-383.0310,"Fort Lauderdale, Florida"

In [111]:
Data.Customer_Name.sort_values(ascending=False)

5898    Zuschuss Donatelli
3040    Zuschuss Donatelli
5897    Zuschuss Donatelli
3815    Zuschuss Donatelli
3814    Zuschuss Donatelli
               ...
8802         Aaron Bergman
4961         Aaron Bergman
8222         Aaron Bergman
8801         Aaron Bergman
4963         Aaron Bergman
Name: Customer_Name, Length: 9992, dtype: object

In [112]:
### TO keep the entire data frame along with sorting has done.

Data.sort_values('Customer_Name').head(4)

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub-Category,Product_Name,Profit,Location
4963,4964,CA-2014-156587,07-03-2014,08-03-2014,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,Washington,98103,West,OFF-ST-10002344,Office Supplies,Storage,"Carina 42""Hx23 3/4""W Media Storage Unit",4.8588,"Seattle, Washington"
8222,8223,CA-2014-152905,18-02-2014,24-02-2014,Standard Class,AB-10015,Aaron Bergman,Consumer,United States,Arlington,Texas,76017,Central,OFF-ST-10000321,Office Supplies,Storage,Akro Stacking Bins,-2.5248,"Arlington, Texas"
8801,8802,CA-2016-140935,10-11-2016,12-11-2016,First Class,AB-10015,Aaron Bergman,Consumer,United States,Oklahoma City,Oklahoma,73120,Central,TEC-PH-10000562,Technology,Phones,Samsung Convoy 3,62.1544,"Oklahoma City, Oklahoma"
4962,4963,CA-2014-156587,07-03-2014,08-03-2014,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,Washington,98103,West,OFF-AR-10001427,Office Supplies,Art,Newell 330,4.6644,"Seattle, Washington"

In [113]:
### Sort by many columns

Data.sort_values(['Customer_Name','City']).head()

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub-Category,Product_Name,Profit,Location
8222,8223,CA-2014-152905,18-02-2014,24-02-2014,Standard Class,AB-10015,Aaron Bergman,Consumer,United States,Arlington,Texas,76017,Central,OFF-ST-10000321,Office Supplies,Storage,Akro Stacking Bins,-2.5248,"Arlington, Texas"
8801,8802,CA-2016-140935,10-11-2016,12-11-2016,First Class,AB-10015,Aaron Bergman,Consumer,United States,Oklahoma City,Oklahoma,73120,Central,TEC-PH-10000562,Technology,Phones,Samsung Convoy 3,62.1544,"Oklahoma City, Oklahoma"
8802,8803,CA-2016-140935,10-11-2016,12-11-2016,First Class,AB-10015,Aaron Bergman,Consumer,United States,Oklahoma City,Oklahoma,73120,Central,FUR-BO-10003966,Furniture,Bookcases,"Sauder Facets Collection Library, Sky Alder Fi...",54.7136,"Oklahoma City, Oklahoma"
4961,4962,CA-2014-156587,07-03-2014,08-03-2014,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,Washington,98103,West,FUR-CH-10004477,Furniture,Chairs,"Global Push Button Manager's Chair, Indigo",5.4801,"Seattle, Washington"
4962,4963,CA-2014-156587,07-03-2014,08-03-2014,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,Washington,98103,West,OFF-AR-10001427,Office Supplies,Art,Newell 330,4.6644,"Seattle, Washington"

##### <h3><u><font color='orchid'><b>Chapter:---------> 7 How do i filter rows of the pandas Data frame by columns value</b></font></h3></u>

In [114]:
Data.shape

(9992, 19)

In [115]:
Data.dtypes

Row_ID             int64
Order_ID          object
Order_Date        object
Ship_Date         object
Ship_Mode         object
Customer_ID       object
Customer_Name     object
Segment           object
Country           object
City              object
State             object
Postal_Code        int64
Region            object
Product_ID        object
Category          object
Sub-Category      object
Product_Name      object
Profit           float64
Location          object
dtype: object

In [116]:
Data.filter(items=['City','Profit'],axis=1).describe()

            Profit
count  9992.000000
mean     28.636462
std     234.275729
min   -6599.978000
25%       1.728000
50%       8.652800
75%      29.359500
max    8399.976000

In [117]:
Data.shape

(9992, 19)

In [118]:
Data1= pd.read_csv('SuperstoreNew.csv',encoding='unicode_escape')

In [119]:
Data1.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [120]:
Data1[(Data1.Profit>100) | (Data1.Sales>800)].head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
7,8,CA-2014-115812,09-06-2014,14-06-2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
10,11,CA-2014-115812,09-06-2014,14-06-2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,0.20,85.3092
11,12,CA-2014-115812,09-06-2014,14-06-2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002033,Technology,Phones,Konftel 250 Conference phone - Charcoal black,911.4240,4,0.20,68.3568

In [121]:
#### & sign means both conditiion should fulfil
#### | sign means one of the condition should fulfil

##### <h3><u><font color='Tomato  '><b>Chapter:---------> 8 How do i apply  multiple filters criteria to a pandas dataframe</b></font></h3></u>

In [122]:
### Logical operator 
## Operator           Description                                                    Example
## and             Returns True if both statements are true                    x < 5 and x < 10
## or              Returns True if one of the statements is true               x < 5 or x < 4
## not             Reverse the result, returns False if the result is true     not(x < 5 and x < 10)

In [123]:
True or True

True

In [124]:
Data1[(Data1.Profit>100) & (Data1.Quantity>11)].head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
251,252,CA-2016-145625,11-09-2016,17-09-2016,Standard Class,KC-16540,Kelly Collister,Consumer,United States,San Diego,...,92037,West,TEC-AC-10003832,Technology,Accessories,Logitech P710e Mobile Speakerphone,3347.370,13,0.0,636.0003
1013,1014,US-2015-126214,21-12-2015,24-12-2015,Second Class,JS-15880,John Stevenson,Consumer,United States,Seattle,...,98103,West,FUR-TA-10003748,Furniture,Tables,Bevis 36 x 72 Conference Tables,1618.370,13,0.0,356.0414
1048,1049,CA-2014-139192,27-05-2014,01-06-2014,Second Class,LC-16885,Lena Creighton,Consumer,United States,San Francisco,...,94109,West,TEC-PH-10000486,Technology,Phones,Plantronics HL10 Handset Lifter,1113.504,12,0.2,125.2692
1246,1247,CA-2014-168494,12-12-2014,14-12-2014,Second Class,NP-18700,Nora Preis,Consumer,United States,Fresno,...,93727,West,FUR-TA-10003473,Furniture,Tables,Bretford Rectangular Conference Table Tops,3610.848,12,0.2,135.4068
1250,1251,CA-2017-115602,18-12-2017,24-12-2017,Standard Class,DJ-13630,Doug Jacobs,Consumer,United States,New York City,...,10009,East,OFF-AP-10000891,Office Supplies,Appliances,Kensington 7 Outlet MasterPiece HOMEOFFICE Pow...,1704.560,13,0.0,511.3680

In [125]:
#### Simply multiple or and &  using "isin" series method, pass a list to get the desired list 


Data1[(Data1.Sales>10) & (Data1.Category.isin(['Technology','Furniture']))].head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
5,6,CA-2014-115812,09-06-2014,14-06-2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
7,8,CA-2014-115812,09-06-2014,14-06-2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152

##### <h3><u><font color='Sienna'><b>Chapter:---------> 9 Your Pandas Question answered</b></font></h3></u>

In [126]:
Data1.filter(items=['City','Sales'])

                 City     Sales
0           Henderson  261.9600
1           Henderson  731.9400
2         Los Angeles   14.6200
3     Fort Lauderdale  957.5775
4     Fort Lauderdale   22.3680
...               ...       ...
9989            Miami   25.2480
9990       Costa Mesa   91.9600
9991       Costa Mesa  258.5760
9992       Costa Mesa   29.6000
9993      Westminster  243.1600

[9994 rows x 2 columns]

In [127]:
Data1.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [128]:
### Learn more about iteration in python

In [129]:
##### What is the best way to drop non numerica columns from the dataframe

In [130]:
Data.dtypes

Row_ID             int64
Order_ID          object
Order_Date        object
Ship_Date         object
Ship_Mode         object
Customer_ID       object
Customer_Name     object
Segment           object
Country           object
City              object
State             object
Postal_Code        int64
Region            object
Product_ID        object
Category          object
Sub-Category      object
Product_Name      object
Profit           float64
Location          object
dtype: object

In [131]:
Data1.select_dtypes(include='number').dtypes

### To select only numeric column from the dataframe, read more about in the help

Row ID           int64
Postal Code      int64
Sales          float64
Quantity         int64
Discount       float64
Profit         float64
dtype: object

##### <h3><u><font color='DodgerBlue '><b>Chapter:---------> 10 How do i use the "axis" Parameter in Pandas</b></font></h3></u>

In [132]:
Data1.describe(include=['int64'])

### Describe method with include argument

            Row ID   Postal Code     Quantity
count  9994.000000   9994.000000  9994.000000
mean   4997.500000  55190.379428     3.789574
std    2885.163629  32063.693350     2.225110
min       1.000000   1040.000000     1.000000
25%    2499.250000  23223.000000     2.000000
50%    4997.500000  56430.500000     3.000000
75%    7495.750000  90008.000000     5.000000
max    9994.000000  99301.000000    14.000000

In [133]:
Data.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub-Category',
       'Product_Name', 'Profit', 'Location'],
      dtype='object')

In [134]:
Data.drop('Category',axis=1).head(2)

## Axis parameter use to identity rows or column, Axis=1 means Column and Axis=0 means Row

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Sub-Category,Product_Name,Profit,Location
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Labels,Self-Adhesive Address Labels for Typewriters b...,6.8714,"Los Angeles, California"
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Tables,Bretford CR4500 Series Slim Rectangular Table,-383.0310,"Fort Lauderdale, Florida"

In [135]:
Data.drop(index=[2,5],axis=0).head()

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub-Category,Product_Name,Profit,Location
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,-383.0310,"Fort Lauderdale, Florida"
4,5,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,2.5164,"Fort Lauderdale, Florida"
6,7,CA-2014-115812,09-06-2014,14-06-2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,1.9656,"Los Angeles, California"
7,8,CA-2014-115812,09-06-2014,14-06-2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,90.7152,"Los Angeles, California"
8,9,CA-2014-115812,09-06-2014,14-06-2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,5.7825,"Los Angeles, California"

In [136]:
Data.select_dtypes(include=['number']).min(axis='index')

Row_ID            3.000
Postal_Code    1040.000
Profit        -6599.978
dtype: float64

In [137]:
Data.dropna().shape

#### Docstring:Remove missing values.

#### See the :ref:`User Guide <missing_data>` for more on which values are considered missing, and how to work with missing data.

(9992, 19)

In [138]:
Data.dtypes

### Fill NA/NaN values using the specified method.

Row_ID             int64
Order_ID          object
Order_Date        object
Ship_Date         object
Ship_Mode         object
Customer_ID       object
Customer_Name     object
Segment           object
Country           object
City              object
State             object
Postal_Code        int64
Region            object
Product_ID        object
Category          object
Sub-Category      object
Product_Name      object
Profit           float64
Location          object
dtype: object

In [139]:
import streamlit as st
import pandas as pd
import plotly.express as px
import os
import warnings
warnings.filterwarnings('ignore')

In [140]:
#st.set_page_config(page_title="SuperStore!!!",page_icon=":bar:chart:",layout="wide")
#st.title(" :bar_chart: Sample SuperStore EDA")

In [141]:
#!streamlit run test.py

In [142]:
#!streamlit config show
#192.168.0.192

In [143]:
#!pip install --upgrade streamlit==0.63.0

In [144]:
#!pip install --upgrade "protobuf<=3.20.1"

In [145]:
#!pip uninstall click

In [146]:
#!pip install click==8.0.4

In [147]:
#!pip uninstall click --yes

In [148]:
#!pip install click==8.0.4

In [149]:
Data1.shape

(9994, 21)

## Dash and ployly

In [150]:
#import dash
#import dash_core_components as dcc
#import dash_html_components as html

In [151]:
#app=dash.Dash()

In [152]:
#app.layout=html.Div([
    
   # html.H1('Hello Dash!!!'),
    #html.Div('Dash ---- A Data Product development framework for plotly')
#])

In [153]:
#if __name__=='__main__':
  # app.run_server(port=8080)

In [154]:
#!streamlit hello --server.headless=true

In [155]:
Data1.shape

(9994, 21)

##### <h3><u><font color='DodgerBlue '><b>Chapter:---------> 11  How do i use string method in Pandas</b></font></h3></u>

In [156]:
## there are many string method in pandas
'hello'.upper()

'HELLO'

In [157]:
'HELLO'.lower()

'hello'

In [158]:
Data1.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [159]:
#### Suppose we want to make Customer name in upper case

Data1['Customer Name'].str.upper()

0            CLAIRE GUTE
1            CLAIRE GUTE
2        DARRIN VAN HUFF
3         SEAN O'DONNELL
4         SEAN O'DONNELL
              ...
9989    TOM BOECKENHAUER
9990         DAVE BROOKS
9991         DAVE BROOKS
9992         DAVE BROOKS
9993        CHRIS CORTES
Name: Customer Name, Length: 9994, dtype: object

In [160]:
### What is want to search a specific value in the series using str

Data1[Data1['Customer Name'].str.contains('Dave Brooks')].head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
157,158,CA-2014-104269,01-03-2014,06-03-2014,Second Class,DB-13060,Dave Brooks,Consumer,United States,Seattle,...,98115,West,FUR-CH-10004063,Furniture,Chairs,Global Deluxe High-Back Manager's Chair,457.568,2,0.2,51.4764
433,434,CA-2016-127369,06-06-2016,07-06-2016,First Class,DB-13060,Dave Brooks,Consumer,United States,Lowell,...,1852,East,OFF-ST-10003306,Office Supplies,Storage,Letter Size Cart,714.300,5,0.0,207.1470

In [161]:
### what is we want to replace something from the pandas series

Data1['Customer ID'].str.replace('-','__').str.replace('__','/')

0       CG/12520
1       CG/12520
2       DV/13045
3       SO/20335
4       SO/20335
          ...
9989    TB/21400
9990    DB/13060
9991    DB/13060
9992    DB/13060
9993    CC/12220
Name: Customer ID, Length: 9994, dtype: object

In [162]:
#### what is Regular expression A RegEx, or Regular Expression, is a sequence of characters that forms 
#### a search pattern. 
#### RegEx can be used to check if a string contains the specified ...

##### <h3><u><font color='Navy '><b>Chapter:---------> 12  How do i change data type of the pandas series</b></font></h3></u>

In [163]:
Data1.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [164]:
Data1['Row ID'].astype('float64').dtypes

dtype('float64')

In [165]:
### In order to do math on the columns which are are described as string need to be converted 

Data1.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [166]:
### what is you want to replace a $ sign from pandas series and converted into float and find out mean

### Data1.Profit.str.replace('',' ').astype('float').mean()

In [167]:
### 
Data.Region.str.contains('South').astype(int).head()

2    0
3    1
4    1
5    0
6    0
Name: Region, dtype: int64

In [168]:
Data1.Region.unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [169]:
Data1.Region.replace(['South','West','Central','East'],[1,2,3,4],inplace=True)

In [170]:
print(Data1.head())

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156  08-11-2016  11-11-2016    Second Class    CG-12520
1       2  CA-2016-152156  08-11-2016  11-11-2016    Second Class    CG-12520
2       3  CA-2016-138688  12-06-2016  16-06-2016    Second Class    DV-13045
3       4  US-2015-108966  11-10-2015  18-10-2015  Standard Class    SO-20335
4       5  US-2015-108966  11-10-2015  18-10-2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420       1  FUR-BO-10001798        Furniture    Bookcases
1       42420       1  FUR-CH-10000454        Furniture       Chairs
2       90036       2  OFF-LA-10000240  Office Supplies       Labels
3       33311       1  FUR-TA-10000577        Furniture       Tables
4       33311       1  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

In [171]:
Data1.Region.replace()

0       1
1       1
2       2
3       1
4       1
       ..
9989    1
9990    2
9991    2
9992    2
9993    2
Name: Region, Length: 9994, dtype: int64

In [184]:
Data1.describe(include='object')

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Product ID,Category,Sub-Category,Product Name
count,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994
unique,5009,1237,1334,4,793,793,3,1,531,49,1862,3,17,1850
top,CA-2017-100111,05-09-2016,16-12-2015,Standard Class,WB-21850,William Brown,Consumer,United States,New York City,California,OFF-PA-10001970,Office Supplies,Binders,Staple envelope
freq,14,38,35,5968,37,37,5191,9994,915,2001,19,6026,1523,48

##### <h3><u><font color='DarkSalmon '><b>Chapter:---------> 13  When should i use GROUPBY in pandas</b></font></h3></u>

In [185]:
Data1.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,1,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,1,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,2,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

In [195]:
Data1.groupby('Segment').Sales.std()

Segment
Consumer       585.516175
Corporate      599.410408
Home Office    755.516379
Name: Sales, dtype: float64